body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  /* border: black solid; */
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* border: blue solid; */
  padding: 2rem;
  min-width: 320px;
  max-width: 700px;
}

/* .App, .container {
  border: black solid;
} */

#editor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* border: red solid; */
}

#preview {
  /* border: blue solid; */
  background-color: #BBFFDD;
}
#preview-head {
  /* border: red solid; */
  background-color: #018749;
  font-size: 20px;
}
#preview-content {
  padding: 1rem;
  padding-top: 0rem; 
  /* border: green solid; */
}
#preview table {
  border-collapse: collapse;
}
#preview th, #preview td {
  border: 1px solid #000;
  padding: 8px;
}

textarea {
  min-width: 300px;
  width: 60%;
  height: 40vh;
}

code {
  background-color: #E0E0E0;
  padding: 0.2rem;
}

pre {
  background-color: #E0E0E0;
}

blockquote {
  border-left: black solid;
  padding-left: 0.5rem;
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
  border-bottom: black solid 3.5px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}